.dev-name-under-ico {
    font-family: "Montserrat-Regular";
    font-style: normal;
    text-align: center;
    color: #5D5D5D;
}

/*-------------- positioning -------------*/
.center-pos{
    /* background-color: cadetblue; */
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-pos{
    float: right;
}
.left-pos{
    float: left;
}

.popup-buttons-container{
    float: right;
    /* height: 20%; */
    /* background-color: cornflowerblue; */
    padding: 18px;
}

.popup-close-window {
    float: right;
    padding: 10px;
}

.selected-col {
    color: #0028FE;
}

.border-active {
    border: solid 1px #0028FE;
}

.border-inactive {
    border: solid 1px #5D5D5D;
}

/*-------------- texting -------------*/
.text-label-simple {
    font-family: Montserrat-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    /* line-height: 20px; */
    /* identical to box height */
    height: 20px;
    text-align: left;

    color: #FFFFFF;
}
.text-color-grey {
    color: #5D5D5D;
}