.popup-settings-inner {
    padding: 20px;
    position: absolute;
    background-color: #191A1E;
}

.popup-settings-inner > div {
    text-align: center;
    float: right;
    padding: 12px;
}
