  .form__field {
    font-family: Montserrat-Regular;
    font-style: normal;
    font-weight: normal;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #AFAFAF;
    font-size: 14px;
    line-height: 15px;
    color: white;
    padding: 2px;
    background: transparent;
    transition: border-color 0.9s;
  }


  .form__field::placeholder {
    /* color: transparent; */
  }
  
  .form__field:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }

  
  .form__field:focus {
    
    padding-bottom: 6px;  
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, $primary,$secondary);
    border-image-slice: 1;
  }

  .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: blue;
    font-weight:700;    
  }

  /* reset input */
  .form__field:required{
     box-shadow:none;
  }
