#sensors {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
#sensors td, #sensors th {
  border: 1px solid #ddd;
  padding: 5px;
}

#sensors tr:nth-child(even){background-color: #f2f2f2;}

#sensors tr:hover {background-color: #ddd;}

#sensors th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #008080;
  color: white;
}

.sensor-status-active {
  background-color: #28C953;
  margin-top: 3%;
  border: 2px #28C953 solid;
  color: #3B474C;
  font-weight: bold;
  color: greenyellow;
  text-align: center;
  font-size: 14px;
  width: 100px;
}

.sensor-status-lost {
  background-color: #8b0000;
  margin-top: 3%;
  border: 2px #8b0000 solid;
  color: #ff1e00;
  font-weight: bold;
  color: #red;
  text-align: center;
  font-size: 14px;
  width: 100px;
}

.sensor-btn-delete {
  display: inline-block;
  border-radius: 4px;
  background-color: hsl(0, 98%, 49%);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.sensor-btn-delete {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.sensor-btn-delete:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.sensor-btn-delete:focus {
  padding-right: 25px;
  background-color: #660f0f;
}

.sensor-btn-delete:hover:after {
  opacity: 1;
  right: 0;
  
}