#device-table-header {
    /* height: 50px; */
    /* background-color: rgb(107, 64, 224); */
}

#device-table-label {
    /* position: fixed; */
    /* position: absolute;
    width: 187px;
    height: 59px;
    left: 380px;
    top: 112px; */
    /* float: left; */
        /* margin-left: 20px; */
        padding-bottom: 30px;
    font-family: Montserrat-Regular;
    font-size: 36px;
    /* identical to box height */
    /* background-color: tomato; */
    color: #FFFFFF;
}


#add-device-btn {
    float: right;
    margin-top: 20px;
    /* /* margin-right: 15px; */
    /* background-color: rgb(42, 127, 153); */
}