.state-switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 26px;
}
  
.state-switch input { 
    background-color: hotpink;
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #070916;
    /* background-color: green; */
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: -2px;
    bottom: -2px;
    background-color: #5D5D5D;;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider:before {
    background-color: #0028FE;
}
  
input:focus + .slider {
    /* box-shadow: 0 0 1px rgb(3, 29, 51); */
}
  
input:checked + .slider:before {
    /* -webkit-transform: translateX(26px); */
    /* -ms-transform: translateX(26px); */
    transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
    bottom: 10px;
  border-radius: 10px;
}

.slider.round:before {
  border-radius: 50%;
}

.state-switch-cont {
  text-align: center;
}

.state-item-text {
  text-align: center;

  font-family: Montserrat-Regular;
  font-style: normal;
  font-weight: normal;
  /* font-size: 18px; */
  /* line-height: 22px; */
}

.state-item-text-enabled {
    color: #0028FE;
}

.state-item-text-disabled {
    color :#5D5D5D;
}
