.update-progress-bar-container{
    position: absolute;
    /* background-color: darkgoldenrod; */
    width: 80px;
    height: 80px;
    color: darkgray;
    /* opacity: 2.0; */
}

body {
    /* font-family: Arial, Helvetica, sans-serif; */
}
  
.CircularProgressbar {
  /*
    * This fixes an issue where the CircularProgressbar svg has
    * 0 width inside a "display: flex" container, and thus not visible.
    *
    * If you're not using "display: flex", you can remove this style.
    */
    width: 100%;
}
  
.CircularProgressbar .CircularProgressbar-path {
    stroke: #0028FE;
    stroke-linecap: round;
    transition: stroke-dashoffset 0.5s ease 0s;
}

.CircularProgressbar .CircularProgressbar-trail {
  stroke: #25252E;
}

.CircularProgressbar .CircularProgressbar-text {
    fill: #0028FE;
    font-size: 24px;
    font-family: Montserrat-Regular;
    dominant-baseline: middle;
    text-anchor: middle;
}

.CircularProgressbar .CircularProgressbar-background {
    fill: #19b119;
}

/*
  * Sample background styles. Use these with e.g.:
  *
  *   <CircularProgressbar
  *     className="CircularProgressbar-inverted"
  *     background
  *     percentage={50}
  *   />
  */
.CircularProgressbar.CircularProgressbar-inverted
    .CircularProgressbar-background {
    fill: #9ece1a;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-text {
    fill: #fff;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-path {
    stroke: #fff;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-trail {
    stroke: transparent;
}
  