.popup-add-inner {
  position: absolute;
  width: 580px;
  left: calc(50% - 250px);
  /* right: 38%; */
  top: 31%;
  /* bottom: 22%; */
  margin:auto; 
  padding: 10px;
  background: #14131B;
}

#popup-add-dev-header {
  height: 60px;
  /* background-color: rosybrown; */
}

.popup-add-text-label {
  font-family: Montserrat-Regular;
  font-style: normal;
  font-weight: 500;
  font-size: 20   px;
  /* line-height: 20px; */
  padding: 20px;
  /* identical to box height */
  float: left;

  /* background-color: turquoise; */

  /* height: 20%; */
  color: #FFFFFF;
}

#scan-checkbox-container{
  float: right;
}

.tmp {
  background-color: midnightblue;
}