
#add-dev-setup-info-section{
    /* background-color: teal; */
    height: 250px;
}
  
#add-dev-setup-section {
    margin-top: 25px;
    margin-left: 5px;
    /* background-color: tomato; */
    width: 280px;
}
  
.add-dev-setup-item {
    /* background-color: tomato; */
    padding-bottom: 15px;
}