#scan-dev-list {
    margin: 10px;
    margin-top: 0px;
    padding: 10px;
}


#scan-dev-info-section {
    width: 100%;
    height: 250px;
    /* background-color: slategrey; */
}

.scan-dev-single {
    /* background-color: brown; */
    width: 100%;
}

.scan-dev-paginator {
    /* background-color: yellow; */
    position: absolute;
    height: 50px;
    top: 45%;
    padding: 5px;
    /* height: 100%; */
}
  
.scan-dev-paginator-left {
    left: 10px;
    /* float: left; */
}
.scan-dev-paginator-right {
    /* float: right; */
    right: 15px;
}

.scan-dev-nothing-found {
    color: white;
    font-family: Montserrat-Regular;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    height: 100%;
}

  