@font-face {
  font-family: 'Montserrat-Regular';
  src: url(fonts/Montserrat-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url(fonts/Roboto-Regular.ttf) format('truetype');
}

body {
  margin: 0;
  background-color: black;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(18, 6, 63); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(10, 10, 121); 
}