* {
    box-sizing: border-box;
}

#main-page {
    overflow:auto;
}

#nav-bar {
    position: fixed;
    float: left;
    width: 320px;
    height: 100%;

    background: #14131B;
}

#content-page {
    float: right;
    width: calc(100% - 320px);;

    background: #191A1E;
}

#menu-logo-section {
    padding: 70px;
    border-bottom: 1px solid rgb(07,09,16);
    margin-bottom: 64px;
}

#menu-logo-section-text {
    position: absolute;
    width: 159px;
    height: 56px;
    left: 128px;
    top: 38px;
    
    font-family: 'Roboto-Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    
    color: #FFFFFF;
}

#menu-logo {
    position: absolute;
    width: 72px;
    height: 65.28px;
    left: 30px;
    top: 31px;

    /* background: url(public/Resources/smart_home_system.svg); */
}

