* {
}

#main-page {
    overflow:auto;
}

#nav-bar {
    position: fixed;
    /* top: 0; */

    /* float: left; */
    width: 320px;
    height: 100%;

    background: #14131B;
    /* background: rgb(15, 131, 24); */
}

#content-page {
    float: right;
    width: calc(100% - 320px);;

    background: rgb(25, 30, 30);
}

#menu-logo-section {
    /* background-color: lightseagreen; */
    height: 150px;
    border-bottom: 1px solid rgb(07,09,16);
}

#menu-logo-section-text {
    position: absolute;
    width: 159px;
    height: 56px;
    left: 128px;
    top: 38px;
    
    font-family: 'Roboto-Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    
    color: #FFFFFF;
}

#menu-logo {
    position: absolute;
    width: 72px;
    height: 65.28px;
    left: 30px;
    top: 31px;
}

#devices-table-section {
    /* background-color: chocolate; */
    margin: 32px;
}