.main-menu {
    width: 200px;
  }
  

#main-menu {
    /* background-color: lightcoral; */
    margin: 10px;
    padding: 10px;
}

.menu-row {
    padding: 20px;
    /* background-color: gray; */
}

.menu-column {
    padding-bottom: 50px;
    padding-right: 30px;
    /* background-color: indigo; */
}

.menu-text {
    width: 63px;
    height: 24px;
    left: 96px;
    top: 212px;

    font-family: 'Montserrat-Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;

    color: #FFFFFF;
}

#img-style {
    width:10px;
    height:100px;
}

#menu-home-logo {
    width:32px;
    height:32px;

    /* background: url(Resources/main_menu_home.png); */
}

#menu-rooms-logo {
    margin: 10px;
    width: 29.16px;
    height: 29.16px;
    left: 33.69px;
    top: 304.69px;
    
    background: #FFFFFF;
}

#menu-statistics-logo {
    width: 30px;
    height: 32px;
    left: 30.5px;
    top: 494.5px;
    
    background: #FFFFFF;
    /* background: url(Resources/main_menu_statistics.svg); */
}

.menu-text-active {
    color: #0028FE;
}

.menu-text-inactive {
    color: #FFFFFF;
}