.popup-notify-inner {
  position: absolute;
  width: 386px;
  /* left: 75%; */
  right: 1%;
  /* right: 38%; */
  top: 10%;
  /* bottom: 22%; */
  margin:auto;
  /* background: #14131B; */
  max-height: 100%;
  /* overflow: scroll; */
  overflow-x: hidden;
}

.head{
background: #15151C;
height:18px;
border-bottom: black solid 1px;
padding: 16px;
position: sticky;
top: 0%;
/* background-color: green; */
}
.popup-text{
  /* background-color: tomato; */
  float: left;
  
}
.popup-count{
  /* background-color: teal; */
  float: right;

}
.notification-list{
  /* background-color: thistle; */
  background: linear-gradient(180deg, #14141B 0%, #191A1E 100%);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 80vh;
}
.notity-item{
/* background-color: rgb(185, 33, 185); */
width: 100%;
/* height: 200px; */
border-bottom: 1px solid black; 
margin-top: 4px;
}
.item-ico{
display:inline-block;
/* background-color: yellow; */
/* float: left; */
vertical-align: top;
padding-left: 32px;
padding-top: 28px;
padding-right: 16px;

}
.item-data{
/* background-color: darkviolet; */
/* float:left; */
display:inline-block;
width: 260px;
}
.item-text{
/* background-color: green; */
padding: 10px;
/* padding-top: 16px; */
color: white;
font-family: Montserrat-Regular;
font-weight: initial;
font-size: 12px;
/* line-height: 15px; */
/* background: #f0f0f0; Цвет фона */
width: 230px; /* Ширина блока */
word-wrap: break-word; /* Перенос слов *

color: #FFFFFF;

}
.item-time{
/* background-color: darkgreen; */
}
.item-action{
/* background-color: darkorange; */
display:inline-block;
/* float: left; */
vertical-align: top;
padding: 12px;
}
.time-style{ 
  font-family: Montserrat-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  
  
  color: #5D5D5D;
  padding: 10px;
   
}
.button.action {
  width: 128px;
  height: 31px;
}
.item-action{
  padding: 12px;
}

ul {
    /* background-color: lightcoral; */
    padding-left: 0
}
li {
    /* background-color: lightseagreen; */
}
.element{
  /* background-color: aqua; */
  position: absolute;
  
  /* padding: 12px; */

    top: -10px;
    left: 160px;

}
.item-status-notification{
 padding-top: 18px;
}